* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  border: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(./images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  padding: 5px;
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/* BOX 2 */
.add-first {
  color: #cccccc;
  font-size: 0.8rem;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}

/* Navbar search css  */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 53%;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  background: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}
/* Location box CSS  */
.nav-location {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.nav-location span {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-location i {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
/* Box 4  */
span {
  font-size: 0.7rem;
}
.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}
/* box cart  */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* Panel CSS  */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}
.panel-ops p {
  display: inline;
  margin-left: 15px;
  font-weight: 550;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Hero section css */
.hero-section {
  background-image: url(./images/hero-image.jpg);
  height: 300px;
  background-size: cover;
}

/* Shop Section CSS  */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  background-color: #fff;
  height: 450px;
  width: 23%;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #007185;
}

/* Todays Deal CSS  */
.deal-box {
  padding: 10px 20px;
  height: 350px;
  margin: 1rem 1.5rem;
  width: 100%;
}
.deal {
  display: flex;
  justify-content: space-evenly;
}
.deal-content {
  padding: 0 20px;
}
.deal-content p {
  font-size: 0.85rem;
}
.pro-desp {
  color: #cc0c39;
  font-weight: 700;
  margin-bottom: 1rem;
}
.pro-desp span {
  padding: 4px 6px;
  text-align: center;
  color: #fff;
  background-color: #cc0c39;
}
.deal-img {
  width: 12.5rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1rem 0;
}
.furniture {
  height: 300px;
}
/*Footer CSS */

footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel1 a {
  color: #fff;
  font-size: 0.85rem;
}

.foot-panel2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: #fff;
  height: 300px;
}
.foot-panel2 ul {
  margin-top: 20px;
}
.foot-panel2 ul p {
  font-weight: 700;
}
.foot-panel2 ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot-panel3 {
  background-color: #222f3d;
  color: #fff;
  border-top: 0.1px solid #f3f3f3c8;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.foot-panel3 .logo {
  background-image: url(./images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.logo-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
.countries {
  display: flex;
  width: 70%;
}
.countries p {
  margin-top: 1rem;
  font-size: 0.85rem;
}
.btn {
  align-items: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #f3f3f3;
  padding: 0 1rem;
  font-size: 0.85rem;
  gap: 0.5rem;
}
.btn-grp {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}
.btn-grp i {
  font-size: 0.5rem;
}
.foot-panel4 {
  display: flex;
  justify-content: space-evenly;
  background-color: #131a22;
  height: 180px;
  padding: 3rem 5rem;
  font-size: 0.7rem;
}
.foot-panel4 ul p {
  font-weight: 700;
  color: #dddddd;
}
.foot-panel4 ul a {
  display: block;
  color: #999999;
}
.copyright {
  background-color: #131a22;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  font-size: 0.85rem;
  color: #dddddd;
}
