footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel1 a {
  color: #fff;
  font-size: 0.85rem;
}

.foot-panel2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: #fff;
  height: 300px;
}
.foot-panel2 ul {
  margin-top: 20px;
}
.foot-panel2 ul p {
  font-weight: 700;
}
.foot-panel2 ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot-panel3 {
  background-color: #222f3d;
  color: #fff;
  border-top: 0.1px solid #f3f3f3c8;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.foot-panel3 .logo {
  background-image: url(../../Images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.logo-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  cursor: pointer;
}
.countries {
  display: flex;
  width: 70%;
}
.countries p {
  margin-top: 1rem;
  font-size: 0.85rem;
}
.btn {
  align-items: center;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #f3f3f3;
  padding: 0 1rem;
  font-size: 0.85rem;
  gap: 0.5rem;
  cursor: pointer;
}
.btn-grp {
  display: flex;
  flex-direction: column;
  gap: 0.01rem;
}
.btn-grp i {
  font-size: 0.5rem;
}
.foot-panel4 {
  display: flex;
  justify-content: space-evenly;
  background-color: #131a22;
  height: 180px;
  padding: 3rem 5rem;
  font-size: 0.7rem;
}
.foot-panel4 ul p {
  font-weight: 700;
  color: #dddddd;
}
.foot-panel4 ul a {
  display: block;
  color: #999999;
}
.copyright {
  background-color: #131a22;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  font-size: 0.85rem;
  color: #dddddd;
}
